<h1>Editing costs management</h1>

<%= render "form", costs_management: @costs_management %>

<br>

<div>
  <%= link_to "Show this costs management", @costs_management %> |
  <%= link_to "Back to costs managements", costs_managements_path %>
</div>
